@mixin icon-rocket() {
  svg {
    animation: ICON_ROCKET 1s ease-in-out forwards;
    opacity: 0;

    @keyframes ICON_ROCKET {
      0%{
        opacity: 0;
      }
      5% {
        opacity: 1;
        transform: translate(-50%, 50%);
      }
      90% {
        transform: translate(50%, -50%);
      }
      95%{
        transform: translate(50%, -50%);
        opacity: 0;
      }
      100%{
        transform: translate(0%, 0%);
        opacity: 1;
      }
    }
  }
}
